@import "../../../styles/themes/totk.scss";

.levelContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  background-color: $shadow;
  border-radius: .25rem;
  padding: .5rem;

  button {
    background-color: transparent;
    padding: .25rem;

    img {
      width: .85rem;
      padding: .25rem;
    }
  }
}

.upgradeContainer {
  width: 100%;
  display: flex;

  .materialContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50%;
    }
  }
}