@import "../../../styles/themes/totk.scss";
@import "../../../styles/mixins.scss";

.levelContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  background-color: $shadow;
  border-radius: .25rem;
  padding: .5rem;

  .button {
    @include button;
    background-color: $primary;
    padding: .75rem;

    img {
      width: .85rem;
      margin-inline: .25rem;
    }
  }
}

.upgradeContainer {
  width: 100%;
  display: flex;
  margin-top: 1rem;

  .materialContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50%;
    }
  }
}