.levelContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: .5rem;

  button {
    padding: .25rem;
  }
}

.upgradeContainer {
  width: 100%;
  display: flex;

  .materialContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50%;

    }
  }
}