@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border: 2px solid $accent;
  border-radius: 1rem;
  box-shadow: $shadow 2px 2px;
  padding: 1rem;
}

@mixin button {
  padding: 15px 20px;
  border: 1px solid $shadow;
  border-radius: 0.5rem;
  background-color: $accent;
  cursor: pointer;
}

@mixin modal {
  width: fit-content;
  background-color: $shadow;
  border: 2px solid $secondary;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 5px 10px $accent;
  position: fixed;
  bottom: 25rem;

  h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      font-size: 1.55rem;
    }
  }
}
