@import "../../styles/themes/totk.scss";
@import "../../styles/mixins.scss";

.card {
  @include card;

  img {
    width: 100%;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    height: 5rem;
    text-align: center;
  }

  input {
    width: 10rem;
    background-color: $shadow;
    border: 1px solid $accent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.25rem;
    color: white;
  }

  :focus-visible {
    outline: none;
  }
}
