@import "../../styles/themes/totk.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: $shadow 10px 5px;
  background: var(--bg, $primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      text-align: center;
    }
  }
}
