@import "../../styles/mixins.scss";
@import "../../styles/themes/totk.scss";

.card {
  @include card;
  opacity: 100%;

  h3 {
    margin-top: .75rem;
    margin-bottom: .5rem;
    font-size: 2rem;
  }

  button {
    @include button;
    font-family: "Playfair Display";
    font-size: .975rem;
  }
}

.notUpgradeable {
  display: none;
}

.unobtained {
  opacity: 65%;
}