.card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(152, 73%, 60%, 0.5);

  h3 {
    font-size: 2rem;
  }
}

.notUpgradeable {
  display: none;
}

.obtained {
  border: 2px solid red;
}