.header {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  input {
    border: 1px solid rgb(28, 176, 107);
    border-radius: 8px;
    font-size: 2rem;
    padding: .75rem .75rem .5rem;
  }

  input:focus-visible {
    outline: 0px;
  }

  .grid {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-bottom: 10rem;
  }
}
