html,
body {
  height: 100%;
}

img.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

header {
  height: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px black;
  padding-inline: 1.5rem;
  background-color: hsla(152, 73%, 60%, 0.5);

  svg {
    font-size: 3rem;
  }
}

.testDisclaimer {
  background-color: orange;
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem;
}

main {
  display: flex;
  justify-content: space-between;
}
