@import "../../styles/mixins.scss";
@import "../../styles/themes/totk.scss";

.header {
  width: 100%;
  display: flex;
  
  h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    margin-right: 8%;

    .button {
      @include button;
      margin-inline: .5rem;
    }
  }

}

.cookbook {
  height: calc(100vh - var(--headerHeight));
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ingredientContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-left: 2rem;

  .ingredientCard {
    @include card;
    width: 15%;

    img {
      width: 85%;
    }

    p {
      text-align: center;
      font-size: 0.85rem;
    }
  }
}

.recipeContainer {
  width: 50%;
  height: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;

  .ingredientCard {
    @include card;
    height: 8rem;
    width: 15%;

    img {
      width: 85%;
    }

    p {
      text-align: center;
      font-size: 0.85rem;
    }
  }
}

.ingredientContainer::-webkit-scrollbar-track {
  border-radius: 15px;
}
